<script>
    function allHandleDragOver(e) {
      if (e.preventDefault) {
        e.preventDefault(); // Necessary. Allows us to drop.
      }
    }
    function allHandleDragEnter(e) {
      if (e.preventDefault) {
        e.preventDefault(); // Necessary. Allows us to drop.
      }
    }
    function allHandleDrop(e) {
      if (e.preventDefault) {
        e.preventDefault(); // Necessary. Allows us to drop.
      }
    }
    function handleDrop(e) {
      if (e.preventDefault) {
        e.preventDefault(); // Necessary. Allows us to drop.
      }
      try {
        dataValue = event.dataTransfer.getData('text/uri-list');
        dataType = 'text/uri-list';
      } catch (e) {
        dataValue = event.dataTransfer.getData('URL');
        dataType = 'URL';
      }
      $('#linkDup'+e.target.id).text(dataValue);
      $('#'+e.target.id).val(dataValue);
      console.log(dataValue);
      GetLotus(e.target.id,dataValue);
    }
    function goToSearchPage(){
        // window.location.href = "/products/page/"+ encodeURI($('#searchText')[0].value);
        window.location.href = (window.location+"").match(/^(.*)\//gi)+ encodeURI($('#searchText')[0].value);
    }
    function categorySelected(obj){
        window.location.href = (window.location+"").match(/^(.*)\//gi)+ encodeURI(obj.value);
    }
</script>
<section class="container all">
    <form action="javascript:goToSearchPage()" method="POST" id="searchBox" align: "right">
        <input id="searchText" type="text" name="searchText" autocomplete="off" class="form-control inputs" placeholder="Search..."></input>
        <select onchange="categorySelected(this)" align: "right">
            <option value=""></option>
            {{#each categories}}
            <option value="{{this}}">{{this}}</option>
            {{/each}}
        </select>
    </form>
    {{#unless ban}}
        {{#if user_name}}
        <div class="form-wrap all" style="padding:10px;">
            <form action="javascript:GetLotus('indx',$('#indx').val());" method="POST" id="new">
                <input id="indx" type="text" name="shopping" class="form-control inputs" placeholder="Drop or enter the url here...."></input>
                <script>$("#indx").on('drop', handleDrop);</script>
            </form>
            <button value="Add Product" class="btn btn-success" onclick="GetLotus('indx',$('#indx').val())">Add New</button>
        </div>
        {{/if}}
    {{/unless}}
    <br>
    <div id="add">{{#each products}}
            <input id="currentFeeling{{lotus_id}}" type="hidden" value="{{feeling}}">
            <table class="product gig" id="{{lotus_id}}">
              <tr class="itemName">
                <td class="itemName">
                    <h4><a href='https://shoponline.tescolotus.com/groceries/en-GB/products/{{lotus_id}}' target="+_blank">{{product_name}}</a></h4>
                </td>
            </tr>
            <tr>
                <td>
                  <div class="productImg">
                    <img src="{{product_url}}">
                  </div>
              </td>
          </tr>
          <tr>
              <td>
                  <div class="text-left productText ">
                    {{product_decription}}
                </td>
            </tr>
            <tr>
                <td class="text-left">
                    Price: {{product_price}}
                </td>
            </tr>
                <td id="favorite">
                    {{#unless ban}}
                      <div class="product likeImg">
                        <img id="favoriteImg{{lotus_id}}" name="{{score}}"
                        {{#unless  current_favorite}} class="oppa " {{/unless }}
                        {{#if ../user_name}} onclick="expressFelling({{lotus_id}}, 'favorite',{{id}})" {{/if}}
                        src="/img/heart.png">
                        <span id="favorite{{lotus_id}}">{{favorite}}</span>
                        <span class="tooltiptext">This is my first choice.</span>
                      </div>

                      <div class="product likeImg">
                        <img id="loveImg{{lotus_id}}"
                        {{#unless current_love}} class="oppa " {{/unless }}
                        {{#if ../user_name}} onclick="expressFelling({{lotus_id}}, 'love',{{id}})" {{/if}}
                        src="/img/up.png">
                        <span id="love{{lotus_id}}">{{love}}</span>
                        <span class="tooltiptext">I can eat if there is nothing else.</span>
                      </div>

                      <div class="product likeImg">
                    <img id="hateImg{{lotus_id}}"
                    {{#unless  current_hate}} class="oppa " {{/unless }}
                    {{#if ../user_name}} onclick="expressFelling({{lotus_id}}, 'hate','{{id}}')" {{/if}}
                    src="/img/down.png">
                    <span id="hate{{lotus_id}}">{{hate}}</span>
                    <span class="tooltiptext">I will never eat this.</span>
                  </div>
                    {{/unless}}
                <!-- $("#{{feeling}}Img").attr("class", ""); -->
                    {{#if ../admin}}
                      <div class="product likeImg">
                        <img src="/img/ban.png"
                        {{#if ban}}
                            onclick='ban({{lotus_id}})'>
                            <p>UnBan</p>
                        {{else}}
                            onclick='ban({{lotus_id}})' class="oppa ">
                            <p>Ban</p>
                        {{/if}}
                      </div>
                    {{/if}}
                </td>
              </tr>
            </table>
        {{else}}
          <p>No snack, add some!</p>
        {{/each}}

        <p> Page </p>
        {{#each count}}
            <b><a class="page" id="page{{this}}"href="javascript:void(0);" onclick="changePage({{this}})">{{this}}</a></b>
        {{/each}}
    </div>
</section>
<script>
    $("#page"+location.href.substr(-1)).attr('class', "page isDisabled");
    function ban(id){
        loading();
      if(confirm("Are you sure to Ban this item?")){
        $.ajax({
            url: '/products/banItem',
            type: 'post',
            data: { lotus_id: id },
        }).done(function(data) {
          if (data == "Updated"){
            $('#'+id).attr('display','none');
            $('#'+id).attr('class','hidden');
          }
          loaded();
        });
        } else {
            loaded();
        }
    }
    function changePage(page){
        loading();
        let local = location.href;
        local = local.slice(0, -1)+page;
        window.location.href = local;
    }
    function expressFelling(lotus_id, felt, product_id){
      loading();
      $.ajax({
          url: '/products/expressFelling',
          type: 'post',
          data: { lotus_id:lotus_id, felt:felt, product_id},
      })
      .done(function(data) {
        if (data == "success"){
          $('#hateImg'+lotus_id).attr("class", "oppa ");
          $('#loveImg'+lotus_id).attr("class", "oppa ");
          $('#favoriteImg'+lotus_id).attr("class", "oppa ");
          $('#'+felt+'Img'+lotus_id).attr("class", "");
          $('#'+felt+lotus_id).text( parseInt($('#'+felt+lotus_id).text())+1 );

          let currentFeeling = $('#currentFeeling'+lotus_id).attr('value');
          let currentFeelingVal = $('#'+currentFeeling+lotus_id).text();
          $('#'+currentFeeling+lotus_id).text( parseInt(currentFeelingVal)-1 );
          $('#currentFeeling'+lotus_id).attr('value', felt);
        }
        loaded();
      });
    }

    function extractOriginal(product, text){
      temp = text;
      temp = temp.split('<h1 class="product-details-tile__title">');
      temp = temp[1].split('</h1><div class="review-stats">');
      product.name = temp[0];

      temp = temp[1].split('<img src="');
      temp = temp[1].split('" srcSet="');
      product.img = temp[0];
      temp = temp[1].split('</span><span class="space"> </span><span data-auto="price-value" class="value">');
      temp = temp[1].split('</span></span></div></div></div>');
      product.price = temp[0];

      temp = temp[1].split('button-multiline">View all ');
      temp = temp[1].split('</a></div></div></div></div><div><div data');
      product.cat = temp[0];
    }
    function extract(product, text){
        temp = text.split('<script type="application\/ld\+json">');
        temp = temp[1].split('<\/script>');
        console.log(temp[0]);
        let productObj = JSON.parse(temp[0]);
        console.log(productObj);
        product.name = productObj[3].productName;
        product.img = productObj[3]["gs1:image"];
        product.price = productObj[3].priceSpecification.price;
        product.cat = productObj[4].itemListElement[2].item.name;
    }
    function GetLotus(id,link){
      loading();
      let product = {}
      product.base = "https://shoponline.tescolotus.com/groceries/en-GB/products/";
      product.link = link;
      var temp = link.split('/products/');
      if (temp.length < 2) {
          aletShow("Oups!, ", " invalid link. too short", "danger");
          openInNewTab(link);
          //$('#indx').val("");
          loaded();
          return;
      } else if (temp[0] != "https://shoponline.tescolotus.com/groceries/en-GB") {
          aletShow("Oups!, ", " invalid link. pattern", "danger");
          openInNewTab(link);
          //$('#indx').val("");
          loaded();
          return;
      }
      product.id = temp[1];
      var xhr = new XMLHttpRequest();
      xhr.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
                extract(product, xhr.responseText);
                if (!product.name){
                    aletShow("Oups!, ", " invalid link (product id).", "danger");
                    loaded();
                    return;
                }
                console.log(product);
                $.ajax({
                    url: '/products/add',
                    type: 'post',
                    data: { product_name:product.name, product_price:product.price , product_decription:product.cat, lotus_id:product.id, product_url:product.img},
                }).done(function(data) {
                    if (data == "update"){
                        window.location.href = "/products/page/"+encodeURI(product.name);
                        aletShow("Just so you know, ", " we already have this product.", "success");
                        $('#indx').val("");
                    } else if (data == "ban"){
                        aletShow("Oups!, ", " this product is in the ban list.", "danger");
                        $('#indx').val("");
                    } else if (data == "fail"){
                        aletShow("Oups! ", "Something went wrong, try again later.", "danger");
                    } else if (data == "not login"){
                        aletShow( "", "Only member can suggest new snack.", "danger");
                        $('#indx').val("");
                    } else if (data == "block"){
                        aletShow("This category is not allowed, ", " please see the help session.", "danger");
                        $('#indx').val("");
                    } else {
                        aletShow("Success, ", " give it a love!", "success");
                        createBox(data.id, product.id, data.product_name, product.img, 0, product.cat, product.price, {{session.admin}});
                        $('#indx').val("");
                    }
                    loaded();
                });
            }
      };
      xhr.open("GET", "/convert/"+product.id);
      xhr.send();
    }
    function createBox(pid, lid, product_name, product_url, banBool, product_decription, product_price, admin){
        let main = $("#add");
          $(".all").on('drop', allHandleDrop);
          $(".all").on('dragover', allHandleDragOver);

          let hiden = $("<input></input>");
          main.prepend(hiden);
          hiden.attr("id", 'currentFeeling'+lid);
          hiden.attr("type", 'hidden');
          hiden.attr("value", 'natural');
          let table = $("<table></table>");
          main.prepend(table);
          table.attr("class", 'product gig');
          table.attr("id", lid);
            let trTitle = $("<tr class='itemName'></tr>");
                trTitle.appendTo(table);
                let tdTitle = $("<td class='itemName'></td>");
                    tdTitle.appendTo(trTitle);
                    let title = $("<h4></h4>");
                        title.appendTo(tdTitle);
                        let titleA = $("<a></a>");
                        titleA.appendTo(title);
                        titleA.attr("href", 'https://shoponline.tescolotus.com/groceries/en-GB/products/'+lid);
                        titleA.attr("target", '+_blank');
                        titleA.text( product_name);
            let trImg = $("<tr></tr>");
                trImg.appendTo(table);
                    let tdImg = $("<td></td>");
                        tdImg.appendTo(trImg);
                        let divImg = $("<div></div>");
                        divImg.appendTo(tdImg);
                        divImg.attr("class", 'productImg');
                            let divImgImg = $("<img></img>");
                            divImgImg.appendTo(divImg);
                            divImgImg.attr("src", product_url);
            let trCat = $("<tr></tr>");
                trCat.appendTo(table);
                let tdCat = $("<td></td>");
                    tdCat.appendTo(trCat);
                        let divCat = $("<div></div>");
                        divCat.appendTo(tdCat);
                        divCat.attr("class", 'productText');
                            divCat.text( product_decription);
            let trPrice = $("<tr></tr>");
                trPrice.appendTo(table);
                    let tdPrice = $("<td></td>");
                        tdPrice.appendTo(trPrice);
                        let divPrice = $("<div></div>");
                        divPrice.appendTo(tdPrice);
                        divPrice.attr("class", 'productText');
                            divPrice.text("Price: "+product_price);

            let trFavorite = $("<tr></tr>");
                trFavorite.appendTo(table);
                let tdFavorite = $("<td class='favorite'></td>");
                    tdFavorite.appendTo(trFavorite);
                    let divFavorite1 = createImgFeeling(lid, pid, "favorite", "/img/heart.png");
                        divFavorite1.appendTo(tdFavorite);
                    let divFavorite2 = createImgFeeling(lid, pid, "love", "/img/up.png");
                        divFavorite2.appendTo(tdFavorite);
                    let divFavorite3 = createImgFeeling(lid, pid, "hate", "/img/down.png");
                        divFavorite3.appendTo(tdFavorite);
                    {{#if admin}}
                        let divFavorite4 = createImgFeeling(lid, pid, "ban", "/img/ban.png");
                            divFavorite4.appendTo(tdFavorite);
                            divFavorite4.attr('onClick', 'ban('+lid+')');
                    {{/if}}
    }
    function createImgFeeling(lid, pid, feeling, pic){
            let tddiv = $("<div></div>");
            tddiv.attr("class", "product likeImg");
                let tddivimg = $("<img></img>");
                tddivimg.appendTo(tddiv);
                tddivimg.attr("id", feeling+"Img"+lid);
                tddivimg.attr("class", "oppa ");
                tddivimg.attr('onClick', 'expressFelling('+lid+', \''+feeling+'\', '+pid+')');
                tddivimg.attr("src", pic);
                let tddivp = $("<span></span>");
                tddivp.appendTo(tddiv);
                tddivp.attr("id", feeling+lid);
                tddivp.text( "0");
                let tddivspan = $("<span></span>");
                tddivspan.appendTo(tddiv);
                tddivspan.attr("class", "tooltiptext");
                tddivspan.text( "This is my first choice.");
        return tddiv;
    }
    function openInNewTab(url) {
      var win = window.open(url, '_blank');
      win.focus();
    }
</script>
